apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  # DNS Server (Unbound)
  - dns/deployment.yaml
  - dns/service.yaml
  - dns/configmap.yaml
  - dns/manual-config-configmap.yaml

  # Blocklist Auto-Update
  - blocklist/pvc.yaml
  - blocklist/cronjob.yaml

configMapGenerator:
  - name: blocklist-downloader-script
    files:
      - blocklist/scripts/blocklist-downloader.sh

  - name: pod-restarter-script
    files:
      - blocklist/scripts/pod-restarter.sh
