apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - manual-config-configmap.yaml
  - blocklist-updater-cronjob.yaml
  - blocklist-downloader-script-configmap.yaml
