apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - manual-config-configmap.yaml

configMapGenerator:
  - name: blocklist-downloader-script
    files:
      - scripts/blocklist-downloader.sh
