apiVersion: v1
kind: Service
metadata:
  name: openldap-ldap
  namespace: openldap
  labels:
    app.kubernetes.io/name: openldap
    app.kubernetes.io/component: authentication
    app.kubernetes.io/part-of: authentication-infrastructure
spec:
  type: ClusterIP
  ports:
  - name: ldap
    port: 389
    targetPort: 389
    protocol: TCP
  selector:
    app.kubernetes.io/name: openldap