apiVersion: v1
kind: Service
metadata:
  name: openldap-ldaps
  namespace: openldap
  labels:
    app.kubernetes.io/name: openldap
    app.kubernetes.io/component: authentication
    app.kubernetes.io/part-of: authentication-infrastructure
spec:
  type: LoadBalancer
  ports:
  - name: ldaps
    port: 636
    targetPort: 636
    protocol: TCP
  selector:
    app.kubernetes.io/name: openldap