apiVersion: v1
kind: ConfigMap
metadata:
  name: samba-config
  namespace: samba
  labels:
    app.kubernetes.io/name: samba
    app.kubernetes.io/component: configuration
data:
  smb.conf: |
    [global]
    workgroup = HOMELAB
    netbios name = k8s-samba
    security = user
    passdb backend = ldapsam:ldap://openldap-ldap.openldap.svc.cluster.local:389
    ldap suffix = dc=kojigenba-srv,dc=com
    ldap user suffix = ou=people
    ldap group suffix = ou=groups
    ldap admin dn = cn=admin,dc=kojigenba-srv,dc=com
    ldap passwd sync = yes
    ldap timeout = 10
    ldap ssl = off

    [shared]
    path = /mnt/shared
    comment = Shared Storage
    browseable = yes
    writable = yes
    create mask = 0755
    directory mask = 0755
    valid users = @samba-users

    [archive]
    path = /mnt/archive
    comment = Archive Storage
    browseable = yes
    writable = yes
    create mask = 0755
    directory mask = 0755
    valid users = @samba-users
