apiVersion: v1
kind: Secret
metadata:
  name: samba-secrets
  namespace: samba
  labels:
    app.kubernetes.io/name: samba
    app.kubernetes.io/component: configuration
type: Opaque
stringData:
  # OpenLDAPのadmin ユーザのパスワード
  # これはOpenLDAPのセットアップ時に使用したパスワードと同じものを使用する
  ldap_bind_password: "${ADMIN_PASSWORD}"
